---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - externaldns.k8s.io
  resources:
  - dnsendpoints
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - networking.istio.io
  resources:
  - gateways
  - virtualservices
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - sreportal.my.domain
  resources:
  - dns
  - dnsrecords
  - portals
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - sreportal.my.domain
  resources:
  - dns/finalizers
  - dnsrecords/finalizers
  - portals/finalizers
  verbs:
  - update
- apiGroups:
  - sreportal.my.domain
  resources:
  - dns/status
  - dnsrecords/status
  - portals/status
  verbs:
  - get
  - patch
  - update
