controllerManager:
  manager:
    args:
      - '--metrics-bind-address=:8443'
      - '--leader-elect'
      - '--health-probe-bind-address=:9090'
      - '--webhook-cert-path=/tmp/k8s-webhook-server/serving-certs'
      - '--enable-mcp'
      - '--mcp-transport=sse'
    containerSecurityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
      readOnlyRootFilesystem: true
    image:
      repository: ghcr.io/golgoth31/sreportal
      tag: 0.5.0
    resources:
      limits:
        cpu: 500m
        memory: 128Mi
      requests:
        cpu: 10m
        memory: 64Mi
  nodeSelector: {}
  podSecurityContext:
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
  replicas: 1
  tolerations: []
  topologySpreadConstraints: []
kubernetesClusterDomain: cluster.local
metricsService:
  ports:
    - name: metrics
      port: 8443
      protocol: TCP
      targetPort: 8443
  type: ClusterIP
serviceAccount:
  annotations: {}
  automount: true
  create: true
  name: ''
webMcpService:
  ports:
    - name: web
      port: 8090
      protocol: TCP
      targetPort: 8090
    - name: mcp
      port: 8091
      protocol: TCP
      targetPort: 8091
  type: ClusterIP
webhookService:
  ports:
    - port: 443
      protocol: TCP
      targetPort: 9443
  type: ClusterIP
